<mat-toolbar>
  <mat-toolbar-row class="header">
    <div>
      <div class="info">
        <div>
          <h2>Restaurants</h2>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="content">
    <div class="restaurant__wrap">
      <div class="query">
        <div>
          <app-filter></app-filter>
        </div>
        <div class="search_bar">
          <app-search></app-search>
        </div>
      </div>
      <div>
        <app-restaurants></app-restaurants>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>