.options {
  display: flex;
  justify-content: space-between;
}

.firebase_data div{
  margin-right: 20px;
}

.firebase_data {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media only screen and (max-width: 800px) {

  .mat-form-field, .firebase_data div {
    width: 100%;
  }
}