.mat-card-header-text {
  margin: 0;
}

.mat-card-content {
  margin: 0 16px;
}

.mat-card {
  width: 100%;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
}

.rating, .star, .actions {
  display: flex;
  align-items: center;
}

.actions {
  margin-top: 20px;
}
.cuisine div {
  display: inline;
}

.cuisine div:not(:last-child):after {
  content: ",";
}

.rating {
  cursor: pointer;
}

.actions {
  justify-content: space-between;
}