
img {
  width: 80%;
  height: 350px;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.rating, .star, .actions {
  display: flex;
  align-items: center;
}

.actions {
  margin-top: 20px;
}

.cuisine div {
  display: inline;
}


.cuisine div:not(:last-child):after {
  content: ",";
}

.rating {
  cursor: pointer;
}

.actions {
  justify-content: space-between;
}

.restaurant__wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.restaurant {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  width: 45%;
}

span {
  font-size: 0.8em;
}

span, h3 {
  white-space: normal;
}

span {
  margin-bottom: 10px;
}

@media only screen and (min-width: 1001px ) and (max-width: 1088px) {
  .restaurant {
    width: 43%;
  }
}


